<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/stylesheet/style.css">
  <title>Generate Payment Link</title>
</head>

<body>
  <div class="main-box">
    <p class="text" id="main-title">Generate Payment link</p>
    <div class="checkout">
      <div class="product">
        <p class="text">Payment purpose: Quỹ CLB ITMC</p>
        <p class="text">Payment amount: 25.000 VND</p>
        <p class="text">Payment method: QR transaction</p>
        <p class="text">Quantity: 01</p>
      </div>
      <form action="/create-payment-link" method="post" class="checkout-form">
        <div class="input-group">
          <label for="mssv" class="text">Student ID (MSSV)</label>
          <input type="text" name="mssv" id="mssv" placeholder="e.g. 2152xxxx" required>
        </div>

        <button type="submit" id="create-payment-link-btn" class="text">
          Create QR transaction
        </button>
      </form>
    </div>
  </div>

  {{if .Error}}
  <div class="popup-overlay" id="errorPopup">
    <div class="popup-content">
      <div class="popup-header">
        <span class="popup-icon">⚠️</span>
        <p id="text" class="popup-text-header">Validation Error</p>
      </div>
      <div class="popup-body">
        <p class="popup-text">{{.Error}}</p>
      </div>
      <button id="text" class="popup-close-btn text"
        onclick="document.getElementById('errorPopup').style.display='none'">
        Close
      </button>
    </div>
  </div>
  {{end}}
</body>

</html>